.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Ajusta el valor según el espacio deseado entre las tarjetas */
  padding: 20px; /* Añade relleno al contenedor para mejorar la apariencia */
  box-sizing: border-box; 
  
}